.form-modal {
  background-color: white;
  border-radius: 15px;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: block;
  margin: 10px 0;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(210, 210, 210);
}

.submit-form {
  background-color: blueviolet;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: 1px solid rgb(210, 210, 210);
}

.info-title::after {
  content: " ";
  display: block;
  width: 40%;
  height: 5px;
  background-color: rgb(161, 54, 249);
  margin: 5px 0;
}

.validation-msg {
  background-color: rgb(211, 165, 255);
  padding: 8px;
  border-radius: 5px;
}

.error {
  background-color: rgb(255, 165, 165);
}

.first-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-block {
  width: 50%;
  height: 500px;
  background: url("./ciel.jpg");
  background-size: cover;
}

@media screen and (max-width: 1300px) {
  .form-modal {
    width: 70%;
  }
}

@media screen and (max-width: 950px) {
  .form-modal {
    width: 100%;
  }
}
